<br>
<h1 align="center"><u><b>Editing Song Information</b></u></h1>
<br>
<br>
<%= render "form" %>
<br>
<br>
<p align="center"><%= link_to 'Back to song information.', song_path(@song) %></p>
<br>
<p align="center"><%= link_to "Back to Song List.", songs_path %></p>